@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Medium-01.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Bold-03.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-MediumItalic-02.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

:root {
  --border-color: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Futura", sans-serif;
  -webkit-font-smoothing: antialiased;
  print-color-adjust: exact;
}

.address-sticker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transform: rotate(-90deg) translateX(calc(50vw - 50vh));
}

h1 {
  font-size: 11pt;
  font-weight: bold;
}

p {
  font-size: 8pt;
}

@page {
  padding: 4mm;
  /* size: 88mm 36mm; */
  size: 36mm 88mm;
  background: #fff;
  print-color-adjust: exact;
}
