@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Medium-01.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Bold-03.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-MediumItalic-02.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

:root {
  --border-color: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Futura", sans-serif;
  -webkit-font-smoothing: antialiased;
  print-color-adjust: exact;
}

.address-sticker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 36mm;
  width: 88mm;
  padding: 0 0 0 1cm;
  transform: rotate(-90deg) translateX(-26mm) translateY(-27mm);
}

h1 {
  font-size: 15pt;
  font-weight: bold;
}

p {
  font-size: 13pt;
}

@page {
  padding: 0;
  size: 36mm 88mm;
  background: #fff;
  print-color-adjust: exact;
}
