@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Medium-01.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Bold-03.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-MediumItalic-02.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: "Futura", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
:root {
  --border-color: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Futura", sans-serif;
  -webkit-font-smoothing: antialiased;
  print-color-adjust: exact;
}

h1 {
  font-size: 14pt;
  font-weight: bold;
}

p {
  font-size: 12pt;
}

@page {
  padding: 1cm;
  size: 150mm 102mm;
  background: #fff;
  print-color-adjust: exact;
  border: 1px solid var(--border-color);
}
