@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Medium-01.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Bold-03.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-MediumItalic-02.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

:root {
  --border-color: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Futura", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  print-color-adjust: exact;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}

h2 {
  font-size: 1em;
}

.align-right {
  text-align: right !important;
  white-space: nowrap;
}

.item {
  margin: 1cm 0;
  padding: 1cm 0;
  border-top: 1px solid var(--border-color);
  break-inside: avoid;
}

.order-header {
  display: flex;
  margin-bottom: 20px;
}

.company-info,
.order-info,
.customer-info {
  margin-bottom: 20px;
  flex: 1;
}

.customer-info {
  padding-top: 17px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.table tr {
  break-inside: avoid;
}

.table th,
.table td {
  border: none;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

.table *:not(tfoot) tr.item-info td {
  border-top: 1px solid var(--border-color);
}

.table .item-info td:nth-child(2) {
  padding: 8px 8px 4px;
}

.table .item-specifications td {
  padding: 0 8px 8px;
}

.table .item-specifications table tr td {
  border: none !important;
  padding: 0 8px 0 0;
}

.table .sender {
  border-right: 1px solid var(--border-color);
  text-align: left !important;
}

.table .additional-notes {
  border-right: 1px solid var(--border-color);
  text-align: center;
  font-weight: bold;
}

.table .additional-notes h3 {
  margin: 0 auto 8px;
  font-size: 1.5em;
  max-width: 50%;
}

.table .additional-notes p {
  margin: 0 auto;
  max-width: 50%;
}

.table tfoot {
  display: table-row-group;
  border-top: 1px solid var(--border-color);
}

.table tfoot td,
.table tfoot tr {
  border: none;
}

.table tfoot td:not(.additional-notes) {
  text-align: right;
  white-space: nowrap;
}

.table tfoot .total {
  font-weight: bold;
  background: var(--border-color);
}

.table--invoice .item-specifications td {
  border-top: 1px solid var(--border-color);
  padding: 8px;
}

.totals {
  margin-top: 20px;
}

.totals p {
  margin: 0;
}

.footer-note {
  font-size: 0.9em;
  color: #555;
}

.invoice {
  padding: 0 1cm;
}

.invoice .order-header {
  margin-top: 0.35cm;
  margin-bottom: 1cm;
  padding: 0 1cm 0 4.5cm;
}

.invoice .order-info {
  margin: 0;
}

.invoice .customer-info {
  padding-top: 0.55cm;
}

.invoice h1 {
  line-height: 156%;
  margin-bottom: -8px;
}

.invoice h3 + p {
  margin-top: 4px;
}

.invoice .table .invoice-payment-info {
  border-right: 1px solid var(--border-color);
  text-align: left;
}

.invoice .table .invoice-payment-info table {
  margin-top: 0.3cm;
}

.invoice .table .invoice-payment-info td {
  border: none;
  padding: 1px 1cm 0 0;
  font-weight: normal;
  text-align: left;
}

.invoice .table .invoice-payment-info td:nth-child(odd) {
  padding-right: 0.2cm;
}

.invoice .table .invoice-payment-info td:first-child {
  padding-left: 0;
}

@page {
  padding: 4cm 0 1.5cm;
}
